@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('//db.onlinewebfonts.com/c/eb71afd7b8cadf04b494f741c3f97cff?family=Zurich+BdEx+L2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pano';
  src: local('Pano'), url('/static/fonts/Pano.ttf') format('truetype');
  font-weight: bold;
}
