@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('//db.onlinewebfonts.com/c/eb71afd7b8cadf04b494f741c3f97cff?family=Zurich+BdEx+L2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pano';
  src: local('Pano'), url('/static/fonts/Pano.ttf') format('truetype');
  font-weight: bold;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #000);
}
.link-underline-white {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}
